# Configurações do Banco de Dados
DATABASE_URL="file:./dev.db"

# Configurações JWT
JWT_SECRET="sua_chave_secreta_muito_segura_aqui_2024"
JWT_EXPIRES_IN="24h"

# Configurações do Servidor
PORT=3001
NODE_ENV=development 